body{
    width: 100%;
    background: linear-gradient(20deg, rgb(171, 192, 176), rgb(171, 210, 182), rgb(155, 210, 155));
}
header{
    width: 95%;
    margin: 5px auto;
    background-color:rgb(62, 211, 109);
    color: rgb(203, 19, 19);
}

.navbar{
 display: flex;
 justify-content: center;
 align-items: center;
}
.logo{
    width: 60px;
   color: rgb(154, 99, 32);
}
h1{text-align: center;

}
.navbar ul{list-style: none; }
.navbar ul li{
    background-color: #1a218b;
    width: 160px;
    border: 2px solid rgb(10, 236, 206);
    height: 55px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    float: left;
    color: rgb(159, 45, 45);
    font-size: 19px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    margin: 7px;
}
.navbar button{
    background-color: rgb(77, 26, 158);
    color: black;
    width: 150px;
    height: 55px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
}
table{
    width: 95%;
    height: 200px;
    margin: 30px;
    background: radial-gradient(red,green,blue);
}
    
.form{

    background-color: rgb(30, 156, 30);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 0px auto;
    font-size: 30px;

}
form{
    width: 650px;
    height: 500px;
    background:linear-gradient(20deg, rgb(214, 214, 112), rgb(158, 158, 14), rgb(40, 75, 7), rgb(3, 100, 51)) ;   
    margin: 0px auto;
    border-radius: 5%;
    border-radius: 2px solid rgb(186, 22, 22);
}
form h1{
    font-size: 60px;
    font-weight: bold;
    color: rgb(172, 22, 22);
    text-align: center;

}
form input{
    background-color: aqua;
    padding: 10px;
    margin: 3px;
    border-radius: 50px;
    font-size: 20px;
}

form .hhh{
    padding: 8px 50px;
    font-weight: bold;
    font-size: 20px;
}
form .cheakbox{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}
footer{
    width: 95%;
    background-color: #16bf65;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer .name{
    text-align: center;
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px auto;
}

footer.text{
    width: 800px;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-weight: 500;
    margin-top: -30px;
}


footer.copyright{
    background-color: rgb(16, 168, 27);
    font-size: 23px;
}



    