h1{
    color: aqua;
    background-color: rgb(24, 72, 56);
    text-align: center;

}
p{
    margin: 15px;
    border: 2px solid;
    color: rgb(215, 195, 165);
    background-color: rgb(43, 43, 129);
}
.box1{
    width: 95%;
    height: 200px;
    text-align: center;
    
    background-color: rgb(97, 50, 141);
    color: aqua;
}